@model ExemploMVC2.Models.FornecedorViewModel

@{
    ViewBag.Title = "FornecedorIncluir";
}

<h2>Incluir Fornecedor</h2>

<form method="post">

    <label>Nome: </label><br />
    <input type="text" name="Nome" />
    <hr />

    <label>Email: </label><br />
    <input type="text" name="Email" />
    <hr />

    <label>Telefone Comercial: </label><br />
    <input type="text" name="Telefone" />
    <hr />
    <input type="submit" value="Enviar"/>

</form>

