
@{
    ViewBag.Title = "Servicos";
}

<h2>Serviços</h2>


<span class="glyphicon glyphicon-baby-formula"></span>
<button class="btn btn-default" type="button">Enviar</button>
<a class="btn btn-default" href="#">Teste</a>
<a class="btn btn-link" href="#">Teste</a>
<hr />
<button class="btn btn-info" type="button">Enviar</button>
<hr />
<button class="btn btn-danger" type="button">Enviar</button>
<hr />
<button class="btn btn-success" type="button">Enviar</button>
<hr />

<button class="btn btn-default" type="button">
    <span class="glyphicon glyphicon-cloud"></span>Nas nuvens
</button>
<hr/>
<button class="btn btn-default" type="button">
    <span class="glyphicon glyphicon-thumbs-up"></span>Confirmar
</button>
